body {
    background-color: #181818;
    color: #d4d4d4;
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(30px); 
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.container {
  width: 100%; 
  max-width: 800px; 
  margin: 0 auto;
  padding: 20px;
}
header {
    text-align: left;
}
h1 {
    font-size: 2em;
    font-style: normal;
}
p {
    font-size: 1em;
    color: #aaaaaa;
}
.dm-mono-regular {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
}   
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    font-size: 1em;
    margin-top: 10px;
}
.experience {
    margin-top: 30px;
}
h2 {
    font-size: 1.5em;
    
}
.job {
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}
.date {
    background: #555;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 5% cover 45%;
}
ul {
    padding-left: 20px;
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 5% cover 30%;
}
li {
    margin-bottom: 5px;
}
.nametext {
    font-size: 30px; 
    font-family: "Lexend", serif;
    font-style: bold;
}
.projects {
    font-size: 20px;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h3 {
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 5% cover 45%;
}

.typing-text {
    color: #aaaaaa;
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
    border-right: 0.15em solid #aaaaaa;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: typing 2s steps(20, end), blink-caret 0.75s step-end infinite;
  }

a {
    color: #aaaaaa;
    text-decoration: none;
}

#links li {
    transition: 0.2s ease;
}

#links li:hover {
    transform: scale(1.02);
}

#back_arrow {
    transition: 0.2s ease;
}

#back_arrow:hover {
    transform: scale(1.25);
}