body {
    background-image: linear-gradient(to right top, #222222, #181818, #363636);
    background-size: cover;
    color: #ffffff;
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 210px;
}

.container {
  width: 100%; 
  max-width: 1000px; 
  margin: 0 auto;
  padding: 20px;
}
header {
    text-align: left;
}
h1 {
    font-size: 2em;
    font-style: normal;
}
p {
    font-size: 1em;
    color: #ffffff;
}
.dm-mono-regular {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
}   
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    font-size: 1em;
    margin-top: 10px;
}
.experience {
    margin-top: 30px;
}
h2 {
    font-size: 1.5em;

}
.job {
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}
.date {
    background: #ffffff1c;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3),
                0 0 20px rgba(255, 255, 255, 0.2);
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 5% cover 45%;
}
ul {
    padding-left: 20px;
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 5% cover 30%;
}
li {
    margin-bottom: 5px;
}
.nametext {
    font-size: 30px; 
    font-family: "Lexend", serif;
    font-style: bold;
    color: white;
}
.projects {
    font-size: 20px;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h3 {
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 5% cover 45%;
}

.typing-text {
    color: #ffffff;
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
    border-right: 0.15em solid #ffffff;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: typing 2s steps(20, end), blink-caret 0.75s step-end infinite;
  }

a {
    color: #ffffff;
    text-decoration: none;
}

#links li {
    transition: 0.2s ease;
}

#links li:hover {
    transform: scale(1.02);
}

#back_arrow {
    transition: 0.2s ease;
}

#back_arrow:hover {
    transform: scale(1.25);
}

.glass-container {
    height: 520px;
    width: 370px;
    padding: 30px 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.20);
}

.glass-container2 {
    height:2180px;
    width:900px; 
    padding: 40px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.20);
    margin-top: 80px;
    
}

.glass-container3 {
    height:350px;
    width:250px; 
    padding: 40px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.20);
    margin-top: 80px;
}

.fade-in {
    animation: fade 1s ease-out forwards;
}

.glowtext {
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3),
                0 0 20px rgba(255, 255, 255, 0.2);
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 5% cover 45%;
}


